.bookitem {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
  font-weight: bold;
}

.book-item-thumbnail {
  max-height: 75px;
  margin-right: 20px;
  border: 1px solid black;
}

.delete-button {
  cursor: pointer;
  color: darkred;
}

.rec-note-text {
  max-width: 45vw;
}