.books-container {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  height: 100vh;
}

.booklist-container div:nth-of-type(even) {
  background-color: lightgrey;
}

.book-search {
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}