.categories-container {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  /* display: grid;
  grid-template: 50px 1fr / 1fr 3fr; */
  background-color: aliceblue;
}

.categories-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.category-items-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.new-categories {
  background-color: beige;
  border: 1px solid brown;
  padding: 15px;
  border-radius: 10px;
}

.new-categories input {
  width: 30%;
  margin-left: 20px;
  line-height: 2em;
}

.create-category-submit {
  cursor: pointer;
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
}