.selected {
  background-color: rgb(225, 247, 225);
  border: 1px darkgreen solid;
}

.unselected { 
  background-color: lightgrey;
  border: 1px solid grey;
}

.category-item {
  cursor: pointer;
  margin: 10px 10px 0 0; 
  padding: 10px;
  border-radius: 15px;
  height: 2em;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  width: auto;
}

.category-item input {
  display: none;
}

.unselected .checkmark::before {
  content: "+";
  font-weight: bold;
  font-size: 1.5em;
  align-content: center;
  padding-right: 10px;
  color: grey;
}

.selected .checkmark::before {
  content: "-";
  font-weight: bold;
  font-size: 1.5em;
  align-content: center;
  padding-right: 10px;
  color: darkgreen;
}