.back-link {
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.book-info {
  display: grid;
  padding: 20px 20px 0 20px;
  grid-template: 150px 50px 50px minmax(50px auto) 50px 50px minmax(50px auto) / 1fr 4fr;
  grid-gap: 20px;
}

.title {
  grid-column-start: 2;
  grid-column-end: 3;

}

.author {
  grid-column-start: 2;
  grid-column-end: 3;
}

.publish-info {
  grid-column-start: 2;
  grid-column-end: 3;
}

.description {
  grid-column: span 3;
  line-height: 1.5em;
}

.thumbnail {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
}

.created-by {
  line-height: 2.5em;
  grid-column-start: 1;
}

.user-note {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.note-text {
  margin-right: 5px;
  padding: 10px;
  background-color: white;
  border: 1px grey solid;
  border-radius: 10px;
  width: 70vw;
  resize: none;
  font-family: "Comfortaa", sans-serif;
  font-size: 1em;
  min-height: auto;
}

.edit-button {
  align-self: flex-start;
}