.show-book-container {
  /* display: grid;
  grid-template: 100px 1fr / 1fr; */
}

.back-link {
  display: block;
  padding: 40px 0 20px 20px;
  background-color: aliceblue;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.book-info {
  display: grid;
  padding: 20px 20px 0 20px;
  grid-template: 150px 50px 50px minmax(50px auto) 50px 50px / 1fr 4fr;
  grid-gap: 20px;
}

.title {
  grid-column-start: 2;
  grid-column-end: 3;

}

.author {
  grid-column-start: 2;
  grid-column-end: 3;
}

.publish-info {
  grid-column-start: 2;
  grid-column-end: 3;
}

.description {
  grid-column: span 3;
  line-height: 1.5em;
}

.thumbnail {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
}

.created-by {
  line-height: 2.5em;
  grid-column-start: 1;
}

