.user-recommendations-container {
  margin: 25px;
}

.user-recommendations-container div:nth-of-type(even) {
  background-color: lightgrey;
}

.show-user-name {
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.show-user-header {
  background-color: aliceblue;
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
}