.App {
  text-align: center;
}

nav {
  background-color: slategray;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.login {
  display: flex;
  align-items: center;
}

.login-span {
  padding-right: 10px;
  padding-left: 10px;
}

.login-button {
  background-color: lightblue;
  padding: 5px;
  color: slateblue;
  border-radius: 5px;
}

.login-button:hover {
  cursor: pointer;
}

.error {
  background-color: rgb(248, 219, 223);
  border: 1px solid pink;
  color: darkred;
}

.success {
  background-color: rgb(227, 248, 227);
  border: 1px solid lightgreen;
  color: darkgreen;
}

.hidden {
  display: none;
}

.filter-pane-container {
  height: 100%;
}