.App {
  text-align: center;
}

nav {
  background-color: slategray;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.login {
  display: flex;
  align-items: center;
}

.login-span {
  padding-right: 10px; 
  padding-left: 10px;
}

.login-button {
  background-color: lightblue;
  padding: 5px;
  color: slateblue;
  border-radius: 5px;
}

.login-button:hover {
  cursor: pointer;
}

