body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", */
    /* "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", */
    /* sans-serif; */

    font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  padding-top: 65px;
}

h1 {
  font-family: 'Comfortaa', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.category-button {
  background-color: beige;
  border: 1px solid brown;
  padding: 10px;
  border-radius: 10px;
  line-height: 1em;
  margin-left: 20px;
  cursor: pointer;
}

.button {
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
}